.TradePage{
    background-color: rgb(10, 13, 17);
    display: flex;
    flex-direction: row;
}

.TradePageBody{
    display: flex;
    flex-direction: row;
    width: 1014px;
    height: 797px;
}

.MidTradePage{
    display: flex;
    flex-direction: column;
    width: 693px;
    height: 797px;
    border-style: solid;
    border-color:#23272e;
    border-width: 0.1px;
    border-top-width: 0px;
    border-left-width: 0px;
}

.RightTradePage{
    width: 335px;
    height: 866px;
    border-style: solid;
    border-color:#23272e;
    border-width: 0.1px;
    border-left-width: 0px;
    display: flex;
    flex-direction: column;
}

.loadingBlock{
    padding-left: 50%;
    padding-top: 170px;
    width: 1324px;
    height: 515px;
    display: flex;
    flex-direction: row;
}
