.MarketTrade{
    width: 335;
    height: 480;
    border-style: solid;
    border-color: #23272e;
    border-width: 0.1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.MarketOrMyTrades{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #848e9c;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.SOption{
    color: orange;
}

.TitleMarketTrades{
    display: flex;
    flex-direction: row;
    color: #848e9c;
    margin-top: 15px;
    margin-left: 15px;
}

.LeftTitle1{
    width: 90px;
}
.RightTitle1{
    width: 150px;
    text-align: right;
}
.historyData{
    height: 400px;
    overflow-y: scroll;
}
.historyDataComp{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 15px;
}
.historyAmount{
    width: 90px;
}

.historyOrderDate{
    width: 170px;
    text-align: right;
}